article{
    a {
        font-style:italic;
        }
}

blockquote{
    background: #ffc;
    p,li{
        color: var(--md-typeset-color);
    }
}
/* Make second-level list items use a dash instead of a round bullet */
ul ul li::marker {
  content: "– ";
  font-weight: 600; /* optional */
}
